---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import {
  getNavigationEntries,
  getFilteredCollectionEntries,
  resolvePath,
} from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import PostNavigation from "@components/PostNavigation.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Giscus from "@components/Giscus.astro";
import BlogLicenceInfo from "@components/BlogLicenseInfo.astro";
import BlogAuthor from "../../components/BlogAuthor.astro";
import EntryHeader from "@components/EntryHeader.astro";

export async function getStaticPaths() {
  const { entries } = await getFilteredCollectionEntries("blog");
  return entries.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
const { prevPost, nextPost } = await getNavigationEntries(
  "blog",
  Astro.params.slug,
);

const entry = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  ogImage={entry.data.ogImage}
>
  <Container>
    <div class="animate">
      <BackToPrevious href={resolvePath("/blog", Astro.url.pathname)}>
        All blog posts
      </BackToPrevious>
    </div>
    <EntryHeader {...entry.data} body={entry.body} />
    
    {headings.length > 0 && <TableOfContents headings={headings} />}
    <article class="animate">
      <Content />
      <hr class="my-4" />
      <div class="my-12"><BlogAuthor /></div>

      <hr class="my-4" />
      <div class="my-4">
        <PostNavigation prevPost={prevPost} nextPost={nextPost} />
      </div>
      <BlogLicenceInfo />
      <div class="mt-8">
        <Giscus />
      </div>
    </article>
  </Container>
</Layout>
