---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME, GLOBAL, type CollectionName } from "@consts";
import BlogCardButton from "@components/BlogCardButton.astro";
import ProjectCardButton from "@components/ProjectCardButton.astro";
import TalkCardButton from "@components/TalkCardButton.astro";
import TextLink from "@components/TextLink.astro";
import type { CollectionEntry } from "astro:content";
import { getFilteredCollectionEntries, resolvePath } from "@lib/utils";
import Bio from "../components/Bio.astro";
import Contact from "@components/Contact.astro";

async function getCollectionEntries<T extends CollectionName>(
  collectionName: T,
  maxItems: number,
): Promise<CollectionEntry<T>[]> {
  const { entries } = await getFilteredCollectionEntries(collectionName);

  return entries.slice(0, maxItems);
}

const blog = await getCollectionEntries("blog", HOME.blogEntries ?? 0);

const projects = await getCollectionEntries(
  "projects",
  HOME.projectEntries ?? 0,
);

const talks = await getCollectionEntries("talks", HOME.talkEntries ?? 0);
---

<Layout>
  <Container>
    <aside data-pagefind-ignore>
      <div class="animate mb-8 flex items-center justify-center">
        <img
          src={resolvePath(GLOBAL.authorPhotoSrc, Astro.url.pathname)}
          alt={GLOBAL.author}
          class="h-48 w-48 rounded-full"
        />
      </div>
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        Hi, I'm {GLOBAL.author}
      </h1>
      <div class="space-y-16">
        <section>
          <article class="animate space-y-4">
            <Bio />
            <h2 class="font-semibold text-black dark:text-white">
              Contact me:
            </h2>
            <Contact />
          </article>
        </section>

        {
          blog.length > 0 && (
            <section class="animate space-y-6">
              <div class="flex flex-wrap items-center justify-between gap-y-2">
                <h2 class="font-semibold text-black dark:text-white">
                  Recent blog posts
                </h2>
                <TextLink href="blog">all blog posts </TextLink>
              </div>
              <ul class="not-prose flex flex-col gap-4">
                {blog.map((post) => (
                  <li>
                    <BlogCardButton entry={post} />
                  </li>
                ))}
              </ul>
            </section>
          )
        }

        {
          talks.length > 0 && (
            <section class="animate space-y-6">
              <div class="flex flex-wrap items-center justify-between gap-y-2">
                <h2 class="font-semibold text-black dark:text-white">
                  Recent talks
                </h2>
                <TextLink href="talks">all talks </TextLink>
              </div>
              <ul class="not-prose flex flex-col gap-4">
                {talks.map((talk) => (
                  <li>
                    <TalkCardButton entry={talk} />
                  </li>
                ))}
              </ul>
            </section>
          )
        }
        {
          projects.length > 0 && (
            <section class="animate space-y-6">
              <div class="flex flex-wrap items-center justify-between gap-y-2">
                <h2 class="font-semibold text-black dark:text-white">
                  Recent projects
                </h2>
                <TextLink href="projects">all projects </TextLink>
              </div>
              <ul class="not-prose flex flex-col gap-4">
                {projects.map((project) => (
                  <li>
                    <ProjectCardButton entry={project} />
                  </li>
                ))}
              </ul>
            </section>
          )
        }
      </div>
    </aside>
  </Container>
</Layout>
